* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFEF7;
    font-family: 'Raleway', sans-serif;
}

header {
    border-bottom: 5px solid #B1DDD8;
    text-align: center;
    letter-spacing: 5px;
    margin: 0;
}

main {
    margin-top: 30px;
    letter-spacing: 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 100px;
}

input[type=text] {
    padding: 10px;
}

.color {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: repeat(3, 1fr);
    font-size: 16px;
}

#color {
    background-color: #ffffff;
    margin: 50px auto;
    height: 300px;
    width: 300px;
    border: 1px solid #D5D9D7;
}

footer {
    border-top: 5px solid #B1DDD8;
    text-align: center;
    letter-spacing: 2px;
}

a {
    color: #000000;
}